
/*For All sizes*/
@media all and (min-width: 268px) and (max-width: 1024px) { 
    header{        
        transition: .2s;
    }

    .nav-list {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: center;

        border-radius: 10px;
        transition: all 0.5s ease;
    }
    .nav-list.open{
        right: 2%;
    }
    .nav-button-mobile{
        display: block;        
    }
    .nav-list  a {
        display: block;
        margin: 3px 0;
        padding: 0 25px;
        transition: all 0.5s ease;
    }
    .nav-list a:hover{
        color: aqua;
        transform: translateY(5px);
    }
    .nav-list a.active{
        color: aquamarine;
    }
    .icon-mobile-nav[name='close-outline'] {
        display: none;
    }

}
/*Tablet Landscape*/
@media all and (min-width: 768px) and (max-width: 1024px) { 
    header{
        padding: 0 2.8rem;
        transition: .2s;
    } 
    .about-section {
        height: 170vh
    }
    .skills.grid--2-cols{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .details.grid--3-cols {

    }
    .details {
        padding: 0;
    }
}
 /*Tablet*/
@media all and (min-width: 480px) and (max-width: 768px) { 
    header{
        padding: 0 2.8rem;
    }
    .nav-button-mobile{
        display: block;
    }
    .icon-mobile-nav[name='close-outline'] {
        display: none;
    }
    .details{     
        grid-auto-flow: column;
        padding: 4.2rem 8rem 4.2rem 8rem;  
    }
    .skills{
        grid-auto-flow: column;
    }
}
 /*Android*/
@media all and (max-width: 480px) { 
    header{
        padding: 0 2.8rem;
    }
    .nav-button-mobile{
        display: block;
    }
    .icon-mobile-nav[name='close-outline'] {
        display: none;
    }
    .details{
        /* display: flex;
        flex-direction: column;  */
        /* row-gap: 10rem; */
        /* padding: 1.2rem 2rem 1.2rem 2rem;             */
    }
    .skills{
        grid-auto-flow: column;
    }
}


/* @media screen and (max-width: 1274px) {
   .nav-list {
      gap: 3.5rem;      
   }
} */

@media screen and (max-width: 1360px) {
    header{
        padding: 0 5%;
    }

    .details{
        padding: 4% 10% 4% 10%;      
    }

    .details h2:first-child{
        font-size: 1rem;
    }
    
}

/*navigation*/
@media screen and (max-width: 1055px) {
    .nav-list {
       gap: 2.3rem;
    }
 }
