*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato';    
    /* overflow-x: hidden; */
}

:root {
    --backgroundColor : #171926;
    --textColor : #fff;
}

/*************************
 * GEBERAL
 *************************/

 /*#region General-Section*/
.grid{
    display: grid;
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid--2-cols{
    grid-template-columns: repeat(2,1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3,1fr);
}

.grid--7-cols{
    grid-template-columns: repeat(7,1fr);

}


.primary-heading{
    color: white;
    /* font-size: 7.2rem; */
    font-size: clamp(2.8rem, 2.2751rem + 5.4892vw, 8.2rem);
    font-weight: 900;
    max-width: 50rem;
    
}
.secondary-heading{
    font-size: 4.8rem;
}
.tertiary-heading{
    font-size: 3.2rem;
}

.sub-heading{
    /* font-size: 2.9rem; */
    font-size: clamp(0.9rem, 0.7056rem + 2.033vw, 2.9rem);
    color: white;
}

.sub-about {
    font-size: 1.4rem;
}

/* .card{    
    border-radius: 1.2rem;
    border: 1px solid black ;
    width: 100%;
    height: 100%;
} */

hr{
    height: 100%;
    background-color: var(--textColor);
    /* margin: 0.4rem 0; */
}

/*#endregion General-Section*/

/*************************
 * HEADER
 *************************/
/* .logo{
    font-size: 1.4rem;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 202.666 231.359'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23231f20;%7D.cls-2%7Bfill:none;stroke:%23231f20;stroke-miterlimit:10;stroke-width:16px;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='108.152 128.674 0 64.428 105.785 0 191.701 52.081 183.406 65.763 105.805 18.722 31.04 64.257 107.937 109.937 138.127 91.054 106.344 75.033 113.546 60.746 170.699 89.554 108.152 128.674'/%3E%3Crect class='cls-1' x='113.449' y='177.497' width='16' height='36.042'/%3E%3Cpolygon class='cls-1' points='122.441 225.229 113.537 211.935 186.666 162.955 186.666 104.584 146.872 130.262 138.197 116.817 202.666 75.218 202.666 171.496 122.441 225.229'/%3E%3Cpolygon class='cls-1' points='99.352 226.883 2.337 172.618 0.181 70.638 107.374 134.969 99.14 148.688 16.79 99.266 18.14 163.125 107.162 212.919 99.352 226.883'/%3E%3Cpath class='cls-2' d='M233.894,332.447' transform='translate(-126.871 -100.291)'/%3E%3Cpolygon class='cls-1' points='107.392 135.017 87.629 141.589 107.461 154.241 107.392 135.017'/%3E%3Cpolygon class='cls-1' points='107.164 212.919 87.018 219.875 107.142 231.359 107.164 212.919'/%3E%3Cpolygon class='cls-1' points='113.482 212.305 134.342 217.22 113.505 231.178 113.482 212.305'/%3E%3Cpolygon class='cls-1' points='123.579 65.853 106.219 56.84 106.362 75.007 123.579 65.853'/%3E%3Cpolygon class='cls-1' points='154.372 125.066 138.203 116.832 138.203 136.683 154.372 125.066'/%3E%3Cpolygon class='cls-1' points='175.403 60.832 191.348 70.533 191.775 52.128 175.403 60.832'/%3E%3Cpolygon class='cls-1' points='129.462 177.478 113.435 163.428 113.435 186.598 129.462 177.478'/%3E%3C/svg%3E");
} */

 /*#region Header-Section*/
#mylogo{
    height: 5.4rem;
    color: var(--textColor);
}

.user-logo a {
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: var(--backgroundColor);

    padding: 0 9.8rem;
    height: 9.6rem;
    position: sticky;
    top: 0;
    z-index:999;

    transition: all 0.50s ease-in;
}

.logo {
  font-family: Arial, sans-serif;
  font-size: clamp(1.6rem, 1.2977rem + 1.0076vw, 1.8rem);/*2.1rem;*/
  font-weight: bold;
  color: #ffffff;
  /* background-color: #000000; */
  padding: 10px;
  border-radius: 5px;
}

.letter {
  display: inline-block;
  padding: 0 5px;
}

.dot {
  display: inline-block;
  font-size: 24px;
  vertical-align: middle;
  margin: 0 5px;
}
  
.nav-list{
    list-style: none;
    display: flex;
    gap: 6rem;
    align-items: center;
    /* font-size: 1.75rem; */
    font-size: clamp(1rem, -0.3108rem + 2.7027vw, 1.5rem); 
    font-weight: 900;
}

.nav-link:link,
.nav-link:visited{
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
}

.nav-button-mobile{  
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: clamp(2.5rem, 2.2353rem + 0.8824vw, 2.8rem);    
    color:#fff;    
    
    height: 2.8rem;       
}

 /*#endregion Header-Section*/

/**************************
* Hero Section
**************************/

/*#region Hero-Section*/

.hero-section{
    height: 100vh;
    background-color: var(--backgroundColor); /*#25283D;*/
    /* padding: 4.8rem 0 9.6rem 0; */
    margin-top: -5rem;
}

.hero {
    max-width: 130rem;
    height: 100%;
    margin: 0 auto;
    /* padding:  0 9.8rem; */
    display: grid;
    /* align-items: center; */
    /* justify-content: center; */
    /* grid-template-columns: repeat(2,1fr); */
  
}

.hero-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: -15rem; */
}

.hero-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.hero-app, .hero-person{
    grid-row: 1 / 2;
}

.hero-app{
    grid-column: 2 / 4;
}

.hero-person{
    grid-column: 3 / -1;
}

.hero-links{
    margin: 2rem 0;
    display: flex;
    gap: 3rem;
}

.social-icon{
    color: white;
    /* font-size: 3.6rem; */
    font-size: clamp(1.9rem, 1.7348rem + 1.7281vw, 3.6rem);
}

/*#endregion Hero-Section*/

/******************
 * About Me and Skills Section
 ******************/

 /*#region AboutMe-and-Skill-Section*/
.about-section{
    min-height: 100vh;
    /* background-color: #39438E; */
    color: #F5E6E8;
    /* background-image: linear-gradient(
        to bottom,
        #39438E 0%,
        #39438E 50%,
        #25283D 50%,
        #25283D 100%
    ); */
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.about-section>h2{
    text-align: center;
    font-size: 4rem;
}

.details{    
    padding: 4.2rem 12% 4.2rem 12%;      
    column-gap: 0;
}

.details-info{
    text-align: center;
    font-size: clamp(1rem, -0.4058rem + 2.0194vw, 1.2rem);
}

.high-light-font{
    font-size:clamp(3rem, -0.4058rem + 2.0194vw, 4rem);
    color: #00C1FF;
}

.high-light{
    color: #00C1FF;
}

.me-img{
    grid-template-columns: repeat(5,1fr);
}

.popup-img{
    height: 16.2rem;
    grid-column: 2/3;
}

.person-img{
    height: 39.2rem;
    grid-column: 2/4;
}

.popup-img, .person-img{
    grid-row: 2/4;
}

.skills{
    place-items: center;    
    gap: 1.5%;
    row-gap: 10%;    
    justify-content: center;    
    /* padding: 0 12% 0 12%;     */
    padding: 0 40% 0 40%;    
}

.skill-list{
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.skill-set{
    padding-top: 0.5rem;
}

.skill-set ul{
    list-style: none;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 2;
}
.skill-selection{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2%;
    transition: all 0.50s ease-in;
}
/* .skill-selection button.select-all{
    border-bottom: 2px solid #00C1FF;
} */
.skill-selection button{
    background-color:transparent;
    border: none;
    padding: 10px 20px 10px 20px;
    color: #bbb4b4;
    font-size: medium;
    cursor: pointer;
}

.card{
    padding:2.5rem;
    border-radius: 0.5rem;
    background-color: #171926 ;
    /* width: 25rem; */
    border: none;
    box-shadow: 2px 2px 5px #1384b1;
}

.skill-card{
    width: 100%;
    height: 100%;

    min-width: 10rem;
    max-height: 5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.skill-card #dev-icon{
    height: 5.8rem;
    fill: #00C1FF;
    margin:1.2rem 0;
    width: 100%;
}


.skill-card h2{
    font-size: clamp(1.6rem, 1.4572rem + 0.0297vw, 2rem);
    line-height: 1;
    text-align  : center;
    width: 100%;
}

.skill-set-section{
    display: flex;
    align-items: center;
    margin:0.8rem 0;
}

.devicon{
    font-size: 1.8rem;
    margin-right:0.4rem;
    
}

 /*#endregion AboutMe-and-Skill-Section*/


 /******************
 * Project Section
 ******************/

  /*#region Project-Section*/
 .project-section{
    height: 100%;    
    background-color: var(--backgroundColor);
    /* background: linear-gradient(
        to right,
        #39438E 0%,
        #39438E 50%,
        #171926 50%,
        #171926 100%
    ); */
    margin: 0 auto;
    padding: 10% 0 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem;
    /* padding:  5rem 0.8rem; */
 }

.project-section>h1{
    font-size: 5rem;
    color: var(--textColor);
}

 .project-section h2,
 .project-section p{
    color: var(--textColor);
 }
 
 .project-section h2 {
    font-size: 4rem;
}

.project-heading p {
    font-size: 1.5rem;
    color: grey;
    text-align: center;
}

.project-section>.grid {
    padding: 0 5% 0 5%;
}
 .project-list{
    color: var(--textColor);
    font-size: 4.2rem;
    /* margin-top: 10rem ;
    margin-bottom: 8rem; */
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .project-name{
    font-weight: bold;
 }

 .project-list p{
    font-size: 2.8rem;
 }

 .project-img{
    position: relative;
    content: fit;
 }

 .project-card{    
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    max-width: 25rem;  
    max-height: 16rem; 
    overflow: hidden; 
 }

 .project-img > img{
    width: 100%;
    object-fit: cover;
 }

 .project-details {
    position: absolute;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 10;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .project-details>p{
    font-size: 1.2rem;
    font-weight: bold;
 }
 

/*#endregion Project-Section*/

/*******************
* Services Section
********************/

/*#region services-section*/
.services-section{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    height: 100%;
    margin: 0 auto;
    padding-top: 10rem;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5rem; */
}

.services-heading{
    padding: 2% 0 2% 0;
}

.services-heading h2,
.services-heading p{    
    text-align: center;
}

.services-heading h2{
    font-size: 3rem;
}

.services-heading p{    
   font-size: 1.5rem;
   line-height: 2;
}

.services-offers{
    justify-content: center;
    
    padding: 0 10% 0 10%;
}

.services-offers.grid{
    column-gap: 2rem;
}

.service-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 0.1rem solid #1384b1;
    border-radius: 0.5rem;  
    min-width: 20rem;
    /* width: 25rem; */
}

.service-card-header{
    text-align: center;
    padding-top: 2rem;
}

.service-card-body{
    padding: 1rem;
}
.service-card-body ul>li{
    list-style: none;
    line-height: 4;
}


/*#endregion services-section*/

 /**********************
  contact-me-section
***********************/
/*#region ContactMe-Section*/
.contact-me-section{
    height: 100vh;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.contact-me-contents{
    height: 100%;

    display: flex;
    flex-direction: column;
    gap:10rem;
    justify-content: center;
    align-items: center;
}

.contact-me-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-heading h2{
    font-size: clamp(2.5rem, 0.2941rem + 7.3529vw, 5rem);
}

.contact-me-heading h3{
    font-size: clamp(0.9rem, -0.1941rem + 2.6471vw, 1.5rem);
}

.contact-icon{    
    width: 5rem;
    height: 5rem;
}

.contact-icons-list{
    display: flex;
    column-gap: 6rem;    
    justify-content: center;
}

.contact-bg{
    width: 8rem;
    height: 8rem;
    background-color: var(--textColor);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credits{
    width: 100%;
    display: flex;
    justify-content: center;
}
/*#endregion ContactMe-Section*/

/******************
 * Animation Area
 ******************/

/*#region Animation-Section*/

 .animation-area{
    /* background: linear-gradient(to left,#8942a8,#ba382f); */
    /* width: 100%; */
    /* height: 100vh; */
 }

 .box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
 }

 .box-area li{
    position: absolute;
    display: block;
    list-style:none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
 }

 .box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
 }

 .box-area li:nth-child(2){
    left:12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
 }

 .box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
 }

 .box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
 }

 .box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
 }

 .box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
 }

 @keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 1;
    }
 }

 /*#endregion Animation-Section*/