
/*First section of the page*/
.main-info-section{
    height : calc(100vh - 90.6px);
}
/*Inside the main-info-section*/
.text{
    margin:auto;
    /* padding: 0 30% 0 30%; */
    max-width: 800px;
}
/*Inside the main-info-section with H1 */
.text h1{
    color: #fff;
    font-size:8vh;
    cursor:context-menu;
    /* margin:auto; */
}

@media screen and (max-width:767px){
    .text h1{
        font-size:7.5vh;
    }
}

@media screen and (max-width:760px){
    .text h1{
        font-size:7.2vh;
    }
}
@media screen and (max-width:77px){
    .text h1{
        font-size:6vh;
    }
}
@media screen and (max-width:703px){
    .text h1{
        font-size:6vh;
    }
}
@media screen and (max-width:606px){
    .text h1{
        font-size:5.5vh;
    }
}
@media screen and (max-width:570px){
    .text h1{
        font-size:5vh;
    }
}

@media screen and (max-width:524px){
    .text h1{
        font-size:4vh;
    }
}
@media screen and (max-width:500px){
    .text h1{
        font-size:4vh;
    }
}


.text h5{
    color: khaki;
}
/*Mobile Screen*/
@media screen and (max-width:400px){
    .text h5{
        font-size:1.5vh;
    }
}
@media screen and (max-width:560px){
    .text h5{
        font-size:2vh;
    }
}


/*Inside the main-info-section with SPAN */
.text span{
    display: inline-block;
}
/*Inside the main-info-section with SPAN */
span:hover{
    color:#4BCFAd;
    transition:all .5s;
}
/*Inside the main-info-section with SPAN */
span.name{
    color:#ED5565;
}
/*Inside the main-info-section with SPAN */
span.m-left{
    margin-left:5px;
}
/*Inside the main-info-section with SPAN every first letter */
span.first{
    padding-left: 20px;
}
/*Inside the main-info-section paragraph section*/
.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size:1.5vh;
    color: blanchedalmond;
}

@media screen and (max-width:770px){
    .text p{
        font-size:0.6rem;
    }
}

@media screen and (max-width:675px){
    .text p{
        font-size:0.58rem;
    }
}

/*Contact button*/
.text a{
    padding: 10px 25px;
    background-color:none;
    border:6px solid #ED5565;
    columns: #ed55ed;
    font-size: 1rem;
    letter-spacing: 2px;
    position: relative;
    top: 60px;
    overflow: hidden;
    transition:.5s;
    display:inline-block; 
    color: cornsilk;
    border-radius: 10px;
}
/*Inside the main-info-section contact me button hover effect*/
.text a:hover{
    color : #fff;
}
/*Inside the main-info-section contact me button hover before effect*/
.text a::before{
    content:'';
    background-color: #ED5565;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}
/*Inside the main-info-section contact me button hover effect*/
.text a:hover::before{
    height:100%;
}
/*Inside the main-info-section Image*/
.profile-image img{
    max-width:600px;
    margin-top:125px;
    position: relative;
    /* right:25px; */

}


/*About Section*/
 .about{
    /* height : calc(108.4vh - 81.6px); */
    height : calc(107vh - 90.6px);
}

.aboutMe{
    max-width: 130vh;
}

.about h1{
    font-size: 10rem;
    z-index:0;
    opacity:.05;
    color: ghostwhite;
    /* margin: 0 17% 0 17%; */
}
@media screen and (max-width:875px){
    .about h1{
        font-size: 7rem;
    }
}

@media screen and (max-width:600px){
    .about h1{
        font-size: 6rem;
        z-index:0;
        opacity:.05;
        color: ghostwhite;
    }
}

@media screen and (max-width:545px){
    .about h1{
        font-size: 4rem;
        z-index:0;
        opacity:.05;
        color: ghostwhite;
    }
}

#myself{
    max-width: 100%;
    /* margin-top:5%; */
    margin:2%;
}

.about-me-info{
    max-width: 130vh;
    background-color: #242627;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    /* padding: 50px; */
    position: relative;
    top: -30px;
    /* left:50%;
    right:50%; */
    /* transform:translateX(-50%); */
    z-index:1;
    margin:auto;
}
@media screen and (max-width:600px){
    .about-me-info{
        padding: 10px;
        width:45vh;
        top: 0px;
    }
}

.about-me-info div p{
    font-size: 1rem;
    color: #BEBEBE;
}

@media screen and (max-width:600px){
    .about-me-info p{
        font-size: 0.7rem;
    }
}


.about-me-info p:nth-child(2),
.about-me-info p:last-child{
    margin-top: 50px;
}

/* .about img{
    width : 300px;
    position: relative;
    top: -300px;
    left:calc(100%-100px);
    right : calc(100%+ 100px);
    transform : translateX(-100% = 100px);
} */


/*Skills Section*/
.skills{
    height : calc(115vh - 90.6px);
    /* padding-top:300px; */
    max-width: 130vh;
}

@media screen and (max-width:600px){
    .skills{
        height : calc(132vh - 90.6px);
    }
    
}

.job-expi h1{
    font-size: 10rem;
    z-index:0;
    opacity:.05;
    color: ghostwhite;
}

@media screen and (max-width:600px){
    .job-expi h1{
        font-size: 4rem;
    }
}
.carousel-inner{
    max-width: 100vh;
    margin:auto;
}
.skillSet{
    max-width: 130vh;
}
.list-group{
    padding: 0 0 0 0;
}
.list-group-item{
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    background-color: rgba(0,0,0,.25);
    max-width: 150px;
}

#carousel-title{
    text-align: right;
    max-width:34vh;
    padding:1.9%;
    background-color: #252627;
    opacity: 0.7;
    position: absolute;
}


.skills h3,
.contact h1 {
    text-align : left;
    font-size:2.6rem;
    opacity: .3;
    color: ghostwhite;
}

#job-description{
    color: greenyellow;
    
}
.job-description{
    /* background-color: grey; */
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    border-radius: 10px;
}

.skills h4{
    color: white
}
.skills li{
    color: wheat;
}
.skillSet{
    color:white;
}

@media screen and (max-width:730px){
    .skillSet h3{
        font-size:1.50rem;
    }
}

@media screen and (max-width:600px){
    .skillSet h3{
        font-size:1.05rem;
    }

    .skillSet p{
        font-size:0.75rem;
    }
}

/* .skills-info{
    font-size: 1.3rem;
    max-width: 800px;
    position: relative;
    left:40%;
    right:55%; 
    transform: translateX(-50%);
    text-align: left;
    margin-bottom: 50px;
    color: ghostwhite;
} */

.skills-info2{
    font-size: 1.3rem;
    position: relative;
    /* left:40%; */
    /* right:55%; */
    /* transform: translateX(-50%); */
    text-align: left;
    margin-bottom: 20px;
    color: ghostwhite;
}

@media screen and (max-width:500px){
    .skillSet p{
        font-size:0.7rem;
    }
}


.skill-set{
   max-width: auto;
   margin:auto;
}
.html{
    display : flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    max-width: 70px;
    margin-right:0.7rem;
}

#skill-icon{
    max-width: 100%;
    height: auto;
    position: relative;
}

#list-image {
    line-height: 1.5em;
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
    font-size: 1vh;
    margin-left:1vh;
  }

.exp-list h4{
    font-size: 1.8vh;
}
@media screen and (max-width:600px){
    .exp-list h4{
        font-size: 1vh;
    }
}

div[class^='tag-']{
    clip-path:polygon(75%, 100%, 50%, 75%, 100% ,0%, 100%,0%,50%,0%,0%);
    width:120px;
    height:auto;
    /* background-color: #535353; */
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    /* margin-right: 30px; */
}

div[class^='tag-'] p{
    color : #fff;
    text-align: left;
    padding-left:10px;
    font-size: 1.1rem;
    padding-top: 3px;
}

.progressbar{
    position: relative;
    width: 600px;
    height:20px;
    border:2px solid #abcfad;
    border-radius: 20px;
    margin-top:35px;

}

div[class^=bar-]{
    position: absolute;
    background-color: #abcfad;
    height: 10px;
    border-radius: 20px;
    margin:2.2px;
}

/*Notable Projects*/

.projects{
    height : calc(120.4vh - 81.6px);
    /* padding-top:300px; */
}

.projects h3{
    color: ghostwhite;
    text-align: center;
    box-sizing: inherit;
}

.projects h1{
    font-size: 10rem;
    z-index:0;
    opacity:.05;
    color: ghostwhite;
}

@media screen and (max-width:600px){
    .projects h1{
        font-size: 5rem;
    }
}

.project-list{
    max-width: 150vh;;
}
.card{
    /* margin-right: auto; */
    margin-right: 20px;
    background-color: rgb(41, 49, 63);
    color: rgb(206, 202, 202);
    max-width: auto;
}
.card-body p{
    font-size: smaller;
}
.tech{
    position: relative;
}

.work-category button{
    text-transform: capitalize;
    border: 3px solid #3f3d3d;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ed5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
}

div[class^='category-']{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}

.work a{
    justify-self:center;
    position: relative;
    display:inline-block;
}

.work-category .active{
    background-color: #ed5565;
}

button.active{
    color:#fff;
}

.work a img{
    width:350px;
    justify-self: center;
}

div.hideCategory{
    display:none;
}

.showCategory{
    display: block;
}

.project-list h5{
    font-size:1.7vh;
}

.project-list p{
    font-size:1.2vh;
}

.proj-col{
    margin-bottom: 2%;
}

@media screen and (max-width:600px){ 
    .proj-col{
        margin-right: auto;
    }
}

#contact{
    /* margin-top : 50px; */
    height : calc(120vh - 81.6px);
    /* padding-bottom: 150px; */
    /* padding-top: 150px; */
    /* margin-right: 303px;
    margin-left: 303px; */
}

.contact h1{
    text-align: center;
}

@media screen and (max-width:600px){
    .contact h1{
        font-size:3.5vh
    }
}
.contact-me{
    color: ghostwhite;
    /* margin-top: 20px; */
    text-align: center;
    height: 13vh;
    max-width: 50vh;
    margin:auto;
}

.contact a{
    color: rgb(255, 255, 255);
    text-align: center;
    border-color: wheat;
    text-decoration: none;
    /* padding: 1px, 1.5px ; */
    border-radius: 1.2px;
    /* background-color: rgb(30, 131, 5); */
    margin-left:6%;
}

#dev-contact{
    margin:auto;
}

#contact img{
    max-width: 50vh;
}

@media screen and (max-width:600px){
    #contact img{
        max-width: 35vh;
        margin:auto;
    }
}
.cnt-button{
    /* margin-top:4%; */
    height: 110px;
    background-color: rgb(104, 103, 103);
    border-radius: 20px;
    max-width: 35vh;
}
.message{
    padding:0.5%;
    margin-top:4%;
    margin:auto;
}

@media screen and (max-width:600px){
    .message{
        padding:2%;
    }
    .cnt-button{
        /* margin-top:4%; */
        height: 90px;
        max-width: 25vh;
    }

}
.cnt-button #message{
    max-width:10vh;
    /* margin:auto; */
}

@media screen and (max-width:600px){
    .cnt-button #message{
        max-width:7vh;
        /* margin:auto; */
    }
}

.contact .message:active{
    background-color:#86071c;
    color: black;
}

.contact .message:hover{
    background-color:gray;
    color: black;
}

