

.navbar{
    background-color: #252627;
    color: ghostwhite;
}

header{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px 0;
}

.navbar{
    background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1{
    color : #707070;
}

li{
    list-style:none;
    margin-left:30px;
}

a {
    color: wheat;
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    /* position : relative; */
    /* top:50%;
    bottom:50%;
    transform: translate(-50%); */
}



