#footer hr{
    border: 2px solid #ffffff;
    /* margin-top:150px; */

}
#footer{
    margin-top:0px;
    height: 10vh;
}
#footer h3 {
    text-align:center;
    color: rgb(146, 146, 144);
    font-size:1.2rem;
    /* padding:30px 0; */
    margin:auto;
} 

#footer p{
    margin:auto;
    color: rgb(146, 146, 144);
    text-align: center;
}

#profile-icon-footer{
    max-width:5vh;
    color: rgb(233, 226, 131);
    padding:1%;
}
#svg-icon{
    margin:auto;
}

#svg-icon #profile-icon-footer{
    
}

@media screen and (max-width:600px){
    #svg-icon #profile-icon-footer{
        margin-left:35%;
    }
}